In [3]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [7]:
df = pd.read_csv('Salaries - Salaries.csv')
df

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
148649,148650,Roy I Tillery,Custodian,0,0,0,0,0.00,0.00,2014,NaN,San Francisco,PT
148650,148651,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148651,148652,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148652,148653,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0,0,-618.13,0,-618.13,-618.13,2014,NaN,San Francisco,PT

In [8]:
# Drop rows where EmployeeName and JobTitle are 'Not provided'
df = df[~((df['EmployeeName'] == 'Not provided') & (df['JobTitle'] == 'Not provided'))]
df

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
148645,148646,Carolyn A Wilson,Human Services Technician,0,0,0,0,0.00,0.00,2014,NaN,San Francisco,PT
148647,148648,Joann Anderson,Communications Dispatcher 2,0,0,0,0,0.00,0.00,2014,NaN,San Francisco,PT
148648,148649,Leon Walker,Custodian,0,0,0,0,0.00,0.00,2014,NaN,San Francisco,PT
148649,148650,Roy I Tillery,Custodian,0,0,0,0,0.00,0.00,2014,NaN,San Francisco,PT
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0,0,-618.13,0,-618.13,-618.13,2014,NaN,San Francisco,PT

In [16]:
# Replace 'Not Provided' with 0 in BasePay OvertimePay OtherPay Benefits
df.BasePay.replace('Not Provided',0).astype(float)
df.OvertimePay.replace('Not Provided',0).astype(float)
df.OtherPay.replace('Not Provided',0).astype(float)
df.Benefits.replace('Not Provided',0).astype(float)

0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
         ...
148645    0.0
148647    0.0
148648    0.0
148649    0.0
148653    0.0
Name: Benefits, Length: 148650, dtype: float64

In [18]:
# Change BasePay OvertimePay OtherPay Benefits type to float
df.BasePay.astype(float)
df.OvertimePay.astype(float)
df.OtherPay.astype(float)
df.Benefits.astype(float)

0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
         ...
148645    0.0
148647    0.0
148648    0.0
148649    0.0
148653    0.0
Name: Benefits, Length: 148650, dtype: float64

In [30]:
# Display all employees name and basepay columns who have a BasePay greater than 200,000.
highly_paid = df[df['BasePay'] > 200000][['EmployeeName', 'BasePay']]
print(highly_paid)

TypeError: '>' not supported between instances of 'str' and 'int'

In [29]:
# Find all employees whose JobTitle contains the word “Manager” (case = False)
managers = df[df['JobTitle'].str.contains('Manager', case=False, na=False)]
print(managers[['EmployeeName', 'JobTitle']])

                EmployeeName                                        JobTitle
0             NATHANIEL FORD  GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
83            EDWARD REISKIN  GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
87               KEVIN BARRY                                     MANAGER VII
95              MIVIC HIROSE                                    MANAGER VIII
162            JULIE LABONTE                                    MANAGER VIII
...                      ...                                             ...
147216  Steven D Koneffklatt                                     Manager III
147502    Alice B Villagomez                                      Manager IV
147805    Stephen C Laplante                                      Manager II
148150      Shirley M Parker                           Real Property Manager
148475         James P Horan                                      Manager IV

[4110 rows x 2 columns]

In [22]:
# Retrieve only the columns: EmployeeName, JobTitle, and TotalPay.
retrieve_columns = df[['EmployeeName', 'JobTitle', 'TotalPay']]
print(retrieve_columns)

             EmployeeName                                        JobTitle  \
0          NATHANIEL FORD  GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
1            GARY JIMENEZ                 CAPTAIN III (POLICE DEPARTMENT)
2          ALBERT PARDINI                 CAPTAIN III (POLICE DEPARTMENT)
3       CHRISTOPHER CHONG            WIRE ROPE CABLE MAINTENANCE MECHANIC
4         PATRICK GARDNER    DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)
...                   ...                                             ...
148645   Carolyn A Wilson                       Human Services Technician
148647     Joann Anderson                     Communications Dispatcher 2
148648        Leon Walker                                       Custodian
148649      Roy I Tillery                                       Custodian
148653          Joe Lopez                      Counselor, Log Cabin Ranch

         TotalPay
0       567595.43
1       538909.28
2       335279.91
3       332343.61
4       326373.19
...           ...
148645       0.00
148647       0.00
148648       0.00
148649       0.00
148653    -618.13

[148650 rows x 3 columns]

In [23]:
# Find count of employees who have zero OvertimePay.
count_zero_overtime = (df['OvertimePay'] == 0).sum()
print(count_zero_overtime)

66103

In [24]:
# Calculate the TotalPay for each JobTitle where totalpay > 300000
new = df[df['TotalPay'] > 300000]
new_results = new.groupby('JobTitle')['TotalPay'].sum().reset_index()
print(new_results)

                                          JobTitle    TotalPay
0                        ASSISTANT DEPUTY CHIEF II   316285.74
1                         Assistant Deputy Chief 2   654066.15
2                     Asst Chf of Dept (Fire Dept)  1303828.26
3                                Asst Med Examiner  1069837.40
4               BATTALION CHIEF, (FIRE DEPARTMENT)   619408.60
5                   Battalion Chief, Fire Suppress  2845960.11
6                   Battlion Chief, Fire Suppressi  1266054.40
7                  CAPTAIN III (POLICE DEPARTMENT)   874189.19
8           CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)   302377.73
9                                        Captain 3  1274613.48
10                       Captain, Fire Suppression   610671.88
11                        Chief Investment Officer   339653.70
12                                 Chief of Police   987550.94
13                          Chief, Fire Department   977915.05
14                                     Commander 3   322143.10
15    DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)   326373.19
16                  DEPUTY DIRECTOR OF INVESTMENTS   307899.46
17                    Dep Dir for Investments, Ret   315572.01
18                                     Dept Head V   927825.30
19                                  Deputy Chief 3   471952.64
20                                  Deputy Sheriff   308434.84
21                       EMT/Paramedic/Firefighter   337204.86
22                     Electronic Maintenance Tech   336393.73
23                     Executive Contract Employee   623473.54
24  GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY   567595.43
25                      Gen Mgr, Public Trnsp Dept   305307.89
26                    Lieutenant, Fire Suppression   683220.45
27                     Senior Physician Specialist   634537.20
28            WIRE ROPE CABLE MAINTENANCE MECHANIC   332343.61

In [28]:
# Find the top 5 JobTitles with the highest average TotalPayBenefits show in descending order
avgerage_pay = df.groupby('JobTitle')['TotalPayBenefits'].mean().reset_index()
top_five = avgerage_pay.sort_values(by='TotalPayBenefits', ascending=False).head(5)
print(top_five)

                                           JobTitle  TotalPayBenefits
466                        Chief Investment Officer     436224.360000
474                                 Chief of Police     411732.266667
475                          Chief, Fire Department     408865.326667
831  GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY     399211.275000
838                      Gen Mgr, Public Trnsp Dept     380696.440000

In [25]:
# Replace all missing Benefits values with 0
df.Benefits = df.Benefits.replace('NaN',0)
df.Benefits

0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
         ...
148645      0
148647      0
148648      0
148649      0
148653      0
Name: Benefits, Length: 148650, dtype: object

In [ ]:
# Identify the top employee name by TotalPay in each Year. Show year, employeename and totalpay dataframe

In [27]:
# Find the number of employees per JobTitle.
df.JobTitle
number_of_employees= df['JobTitle'].value_counts().reset_index()
number_of_employees.columns = ['JobTitle', 'EmployeeCount']
print(number_of_employees)

                                JobTitle  EmployeeCount
0                       Transit Operator           7036
1                          Special Nurse           4389
2                       Registered Nurse           3736
3           Public Svc Aide-Public Works           2518
4                       Police Officer 3           2421
...                                  ...            ...
2153             IS Technician Assistant              1
2154            Chief Investment Officer              1
2155  ADMINISTRATOR, SFGH MEDICAL CENTER              1
2156      DEPUTY DIRECTOR OF INVESTMENTS              1
2157                   HEAD PHOTOGRAPHER              1

[2158 rows x 2 columns]